* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

.header {
  width: 100%;
  background-color: #50a61a;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header > a {
    width: 10%;
    align-items: center;
    margin-left: 10px; }
    .header > a .logo-appa {
      width: 90%;
      object-fit: contain;
      border-radius: 50%; }
  .header h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%;
    color: white; }
  .header nav {
    width: 40%; }
    .header nav ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .header nav ul li:hover {
        text-decoration: underline wavy; }
      .header nav ul li a {
        color: white;
        font-size: 1.1rem; }

.img-Banner {
  width: 100%;
  overflow: hidden;
  object-fit: contain; }
  .img-Banner ul {
    display: flex;
    width: 300%;
    animation: cambio 15s infinite alternate;
    animation-timing-function: ease-in; }
    .img-Banner ul li {
      width: 100%; }
      .img-Banner ul li img {
        width: 100%;
        height: 100%; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  30% {
    margin-left: 0; }
  35% {
    margin-left: -100%; }
  65% {
    margin-left: -100%; }
  75% {
    margin-left: -200%; }
  100% {
    margin-left: -200%; } }

.productos {
  width: 100%;
  background-color: rgba(188, 238, 190, 0.888);
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "parrafo parrafo" "titulo titulo" "tabla tabla " "producto-1 producto-2 " "producto-3 producto-4 "; }
  .productos p {
    color: #074d09;
    font-size: 20px;
    font-family: cursive;
    margin: 10px;
    grid-area: parrafo;
    width: 100%; }
  .productos h2 {
    color: #074d09;
    font-size: 1.8rem;
    text-decoration: underline;
    text-align: center;
    grid-area: titulo;
    width: 100%; }
  .productos .tabla {
    width: 100%;
    grid-area: tabla;
    display: flex;
    justify-content: center; }
  .productos .producto-1 {
    grid-area: producto-1;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .productos .producto-2 {
    grid-area: producto-2;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .productos .producto-3 {
    grid-area: producto-3;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .productos .producto-4 {
    grid-area: producto-4;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .productos .img-Productos-1 {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin: 50px 50px 1px;
    border-radius: 1rem;
    display: block;
    margin: auto; }
  .productos .img-Productos-2 {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin: 50px 50px 1px;
    border-radius: 1rem;
    display: block;
    margin: auto; }
  .productos .img-Productos-3 {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin: 50px 50px 1px;
    border-radius: 1rem;
    display: block;
    margin: auto; }
  .productos .img-Productos-4 {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin: 50px 50px 1px;
    border-radius: 1rem;
    display: block;
    margin: auto; }
  .productos .img-Productos-1 {
    border: 5px solid green; }
  .productos .img-Productos-2 {
    border: 5px solid green; }
  .productos .img-Productos-3 {
    border: 5px solid green; }
  .productos .img-Productos-4 {
    border: 5px solid green; }
  .productos .descripcion-Producto {
    width: 22rem;
    padding: 1rem;
    text-align: center;
    margin: 1px;
    display: block;
    margin: auto; }
  .productos .tabla table {
    background-color: white;
    text-align: left;
    width: 50%px;
    border-collapse: collapse; }
    .productos .tabla table Th, .productos .tabla table td {
      padding: 20px; }
    .productos .tabla table thead {
      background-color: #1a6c51;
      border-bottom: solid 5px #41513f;
      color: white; }
    .productos .tabla table tr:nth-child(even) {
      background-color: #279632; }
    .productos .tabla table tr:hover td {
      background-color: #279632;
      color: white; }

.beneficios {
  width: 100%;
  min-height: 700px;
  background-color: rgba(188, 238, 190, 0.888);
  display: grid;
  align-items: center;
  grid-gap: 5px 40px;
  grid-template-areas: "h2 h2 h2" "past nat desh" " p p p";
  justify-content: center; }
  .beneficios h2 {
    font-size: 50px;
    grid-area: h2;
    text-align: center; }
  .beneficios img {
    width: 100%;
    height: 80%;
    border: 2px solid green;
    border-radius: 1rem; }
  .beneficios .pasteurizacion {
    grid-area: past; }
  .beneficios .natural {
    grid-area: nat; }
  .beneficios .deshidratado {
    grid-area: desh; }
  .beneficios p {
    font-size: 20px;
    grid-area: p;
    text-align: center;
    width: 100%; }

.visitenos {
  width: 100%;
  height: 500px;
  background-color: rgba(188, 238, 190, 0.888);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .visitenos p {
    margin: 0;
    padding: 5px;
    border-radius: 1rem;
    font-size: 25px; }
  .visitenos .i-Frame {
    width: 60%;
    height: 300px;
    border: solid 2px blue;
    border-radius: 1rem; }

.main-Contactenos {
  width: 100%;
  height: 650px;
  background-color: rgba(188, 238, 190, 0.888);
  display: flex;
  justify-content: center; }
  .main-Contactenos .form-Consulta {
    width: 500px;
    background: #50a61a;
    padding: 30px 50px;
    margin: 50px 0;
    border-radius: 1rem;
    font-family: calibri;
    color: white;
    box-shadow: 7px 13px 37px #4766a9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .main-Contactenos .form-Consulta h4 {
      font-size: 25px;
      margin: 20px 0; }
    .main-Contactenos .form-Consulta .controles, .main-Contactenos .form-Consulta .ctrl-1, .main-Contactenos .form-Consulta .ctrl-2, .main-Contactenos .form-Consulta .ctrl-3 {
      width: 93%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px;
      font-size: 15px;
      border: solid 2px green; }
    .main-Contactenos .form-Consulta .ctrl-1 {
      border: solid 2px green; }
    .main-Contactenos .form-Consulta .ctrl-2 {
      border: solid 2px green; }
    .main-Contactenos .form-Consulta .ctrl-3 {
      border: solid 2px green; }
    .main-Contactenos .form-Consulta .boton {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      background-color: rgba(169, 169, 169, 0.748);
      font-size: 20px;
      color: white; }

footer {
  width: 100%;
  background-color: #50a61a;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer .logo-Footer {
    width: 40px;
    margin: 5px;
    border-radius: 1rem; }
  footer p {
    width: 50%;
    background-color: #50a61a;
    color: white;
    font-size: 1.1rem;
    border-radius: 0.4rem;
    text-align: center; }
  footer .logo-Redes {
    display: flex; }
    footer .logo-Redes li {
      width: 75px; }
    footer .logo-Redes img {
      width: 50%;
      border-radius: 10rem; }

@media screen and (max-width: 1000px) {
  .header {
    flex-wrap: wrap;
    justify-content: space-around; }
  .header nav {
    min-width: 500px;
    margin: 10px 0; } }

@media screen and (max-width: 910px) {
  .beneficios {
    grid-template-areas: "h2" "past" "nat" "desh" "p";
    grid-gap: 5px 40px;
    justify-items: center; }
  .beneficios h2 {
    margin-top: 30px; }
  .beneficios img {
    width: 80%; }
  .beneficios p {
    margin-bottom: 30px; } }

@media screen and (max-width: 700px) {
  .productos {
    grid-template-areas: "parrafo " "titulo " "tabla  " "producto-1" " producto-2 " "producto-3" " producto-4 "; }
  footer {
    flex-wrap: wrap-reverse;
    justify-content: space-around; }
  .logo-Redes {
    margin-top: 10px; }
  footer p {
    min-width: 325px; }
  .form-Consulta {
    width: 400px; }
  .form-Consulta h4 {
    font-size: 20px; }
  .visitenos p {
    font-size: 1rem; } }

@media screen and (max-width: 480px) {
  .header h1 {
    font-size: 100%; }
  .header nav {
    min-width: 300px;
    margin: 10px 0; }
  .header nav ul li a {
    font-size: 0.9rem; }
  .visitenos p {
    font-size: 11px; } }
